// color
$black: #000;
$white: #fff;
$orange: #FF7A00;
$blue-link:#1558d6;
$gray: #D9D9D9;
$gray-support: #F5F5F5;
$gray-line: #E6E6E6;
$gray-input: #E9E9E9;
$gray-mansion-support: #e8e8e8;

$base-color: $white;

$base-font-color: $black;
$sub-font-color: $orange;

$base-link-color: $black;

$base-btn-color: $orange;


//fonts
$base-font: 'Noto Sans JP', sans-serif;
$sub-font: 'Poppins', sans-serif;