@use "../config/variables" as v;
@use "../mixin" as *;

.subpage-h2 .noborder {
  border-bottom: none;
}

.breadcrumb div.border {
  border-bottom: 1px solid v.$black;
}

.search-result {
  @include padding-inline;
  padding-block: 28px 150px;
  padding-left: 8%;
  padding-right: 8%;
  @include w599 {
    padding-left: 4%;
    padding-right: 4%;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .search-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
    &.buttom {
      margin-bottom: 50px;
    }
    p {
      font-size: 22px;
      padding-right: 20px;
      @include w991 {
        font-size: 18px;
      }
      @include w599 {
        font-size: 16px;
      }
    }
    .flexbox {
      display: flex;
      gap: 30px;
      font-size: 20px;
      @include w991 {
        font-size: 16px;
      }
      @include w599 {
        font-size: 14px;
      }
      @include w450 {
        flex-direction: column;
        gap: 4px;
      }
      > div {
        display: flex;
        align-items: center;
        gap: 10px;
        .select-wrapper {
          border: 1px solid v.$gray;
          position: relative;
          &::before {
            content: url(../img/arrow-down.png);
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%) scale(0.7);
          }
          select {
            padding: 4px 32px 4px 10px;
          }
        }
      }
    }
  }
  .search-results {
    margin-bottom: 32px;
    .grid-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      @include w1200 {
        grid-template-columns: 1fr 1fr;
      }
      @include w599 {
        gap: 16px;
      }
      img {
        width: 100%;
        aspect-ratio: 5/3;
        border: 1px solid v.$black;
        object-fit: cover;
      }
      div {
        padding: 12px 20px;
        background-color: v.$black;
        @include w599 {
          padding: 10px 6%;
        }
        p {
          color: #fff;
          font-size: 18px;
          @include w991 {
            font-size: 16px;
          }
          @include w599 {
            font-size: 14px;
          }
        }
      }
    }
  }
  .search-pagenation {
    text-align: center;
    margin-bottom: 50px;
    img {
      width: 10px;
    }
    .flex-list {
      display: inline-flex;
      gap: 30px;
      @include w599 {
        gap: 10px;
      }
      .flex-item {
        a {
          width: 70px;
          height: 70px;
          display: grid;
          place-items: center;
          @include w599 {
            width: 50px;
            height: 50px;
          }
          &.active {
            background-color: v.$gray;
          }
          &:hover {
            background-color: v.$gray;
            opacity: 0.4;
          }
          span {
            font-family: v.$sub-font;
            font-size: 24px;
            line-height: 125%;
            @include w599 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .re-search {
    text-align: center;
    a,button {
      display: inline-grid;
      place-items: center;
      width: min(100%, 850px);
      height: 80px;
      background-color: v.$base-btn-color;
      @include w599 {
        height: 70px;
      }
      span {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2.4px;
        @include w1400 {
          font-size: 18px;
        }
        @include w991 {
          font-size: 16px;
        }
      }
    }
  }
}
