@use 'config/variables' as v;
@use 'mixin' as *;

body {
  font-family: v.$base-font;
  color: v.$base-font-color;
  max-width: 1920px;
  margin-inline: auto;
  header {
    max-width: 1920px;
    margin-inline: auto;
  }
}
h1 {
  font-weight: 700;
}
input::placeholder {
  color: v.$gray;
}

.section-h2 {
  color: v.$base-font-color;
  font-family: v.$sub-font;
  font-size: 96px;
  font-weight: 600;
  line-height: 125%;
  width: fit-content;
  position: relative;
  span {
    color: v.$sub-font-color;
  }
  div {
    position: absolute;
    right: -12px;
    bottom: 0.3em;
    transform: translateX(100%);
    display: flex;
    gap: 32px;
    align-items: flex-end;
    span {
      display: block;
      height: 78px;
      width: 26px;
      border-right: 1px solid v.$black;
      transform: rotateZ(24deg);
      &.white {
        border-right: 1px solid v.$white;
      }
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 100%;
      word-break: keep-all;
    }
  }
}

.subpage-h2 {
  padding-top: 160px;
  padding-left: (calc((100% - 1360px) / 2));
  > div {
    padding-bottom: 30px;
    border-bottom: 1px solid v.$black;
  }
}

.breadcrumb {
  @include padding-inline;
  padding-block: 50px 10px;
  p {
    font-size: 18px;
  }
}

.section-h3 {
  padding: 18px 20px;
  font-size: 32px;
  font-weight: 700;
  border-left: 10px solid v.$black;
  margin-bottom: 44px;
}